@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --white-color: #fff;
    --black-color: #000;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 2.4rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
}